<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="hr.tvz.pious2023.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/AccountRepository.xml"/>
        <mapper resource="mappers/NotificationRepository.xml"/>
        <mapper resource="mappers/ProfessorRepository.xml"/>
        <mapper resource="mappers/CourseRepository.xml"/>
        <mapper resource="mappers/StudentRepository.xml"/>
        <mapper resource="mappers/TodoRepository.xml"/>
        <mapper resource="mappers/ScheduleRepository.xml"/>
        <mapper resource="mappers/GradeRepository.xml"/>
    </mappers>
</configuration>